//
//  Dev.xcconfig
//  Dawn To Dusk
//
//  Created by Hiren on 11/08/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//Server URLS and Other Configuration Keys

timeout_interval                = 120

//protocol                        = http
//server_url                      = 10.12.15.122
//DomainFolder                    = :3000
//
//RegisterAPI                     = /signup

//http://localhost:5000/api/user/authenticate

protocol                        = https
server_url                      = d2dbackendmain.azurewebsites.net
DomainFolder                    = /

RegisterAPI                     = register
LoginAPI                        = userLogin
VerifyOtpAPI                    = verifyOtp
UpdateUserAPI                   = /user/updateUser

GetMenuListing                  = fetchMenuDetails
GetSubCatMenuListing            = fetchSubCategoryMenusDetails
GlobalSearchURL                 = menuQuickSearch
GetMainCategory                 = admin/fetchMainCategory
GetSubCategory                  = admin/fetchSubCategory
PlaceOrderAPI                   = Placeorder
AddToCartAPI                    = myCart
MyCartListAPI                   = fetchCartDetails
GetOrderHistory                 = admin/userDetails
